/*Header*/
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 69px;
  position: fixed;
  z-index: 10;
  border-bottom: 1px solid seashell;
  background-color: black;
  opacity: 0.9;
  top: 0;
  left: 0;
}

.navs {
  padding: 20px 10px;
  font-size: 22px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

#logo {
  height: 50px;
  margin-left: 10px;
}

/*Main Content*/

body {
  font-family: Helvetica, sans-serif;
  background-color: black;
}

.container {
  display: flex;
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  flex-shrink: 2;
}

.mission {
  color: seashell;
  text-align: center;
  background-color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 1200px;
  height: 50px;
}
